* {
   margin: 0px;
   padding: 0px;
}

html {
    font-family: 'Gentium Book Basic', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    background: rgba(0,0,0,0.1);
    padding-left: 35%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
}

nav li {
    display:inline;
    font-size: 1.2em;
    font-family: 'Alfa Slab One', cursive;

}

nav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: grey;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant.jpg);
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    background-size: cover;
    width:100%;
    margin: 0;
}
    
#section2 {
    padding: 100px;
    overflow: hidden;
}

#about {
    width:45%;
    float: left;
    padding-left: 20px;
}

#aboutImage {
    width: 42%;
    padding-top: 45px;
    padding-left: 130px;
    float:left;
}

#section3 {
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../images/restaurant2.jpg);
    background-size: cover;
    background-color: #000;
}

#section3 h1 {
    text-align: center;
    color:#fff;
}

#section3 p {
    text-align: center;
    color: #fff;
}

.formStyle { 
  align-content: center;
  padding: 20px; 
  width: 350px; 
  margin-left: 320px;
  margin-top: 80px;
  margin-bottom: 20px; 
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: #fff; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 0.8em;
  font-weight: 100;
  color: #fff;
  background-color: transparent;
}

#subscribe {
    float: right;
	background-color:dimgrey;
	display:inline-block;
	color:#fff;
    border-style: none;
	font-size:14px;
	padding:6px 24px;
    margin-top: 105px;;
    margin-right: 400px;
	text-decoration:none;
}

footer {
    border: solid 1px blue;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

#column1 {
    float:left;
    padding-left: 10%;
    padding-top: 20px;
}

#column2 {
    float: left;
    padding-left: 15%;
    padding-top: 20px;
}

#column3 {
    float: right;
    padding-top: 20px;
    padding-right:10%;
    text-align: center;
}

#column3 p {
    padding-top: 10px;
}

#logo img {
    float: left;
    padding-left: 5%;
    height:140px;
    width:150px;
}

#reservation {
    background-color:dimgrey;
	display:inline-block;
	color:#fff;
    border-style: none;
	font-size:14px;
	padding:6px 50px;
	text-decoration:none;
}
