* {
   margin: 0px;
   padding: 0px;
}

html {
    font-family: 'Gentium Book Basic', serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
    font-weight:100;
}

.headBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant.jpg);
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    background-size: cover;
    width:100%;
    margin: 0;
}

.headBanner2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/kitchen.jpg);
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    background-size: cover;
    width:100%;
    margin: 0;
}

.headBanner3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/local.jpg);
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    background-size: cover;
    width:100%;
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    background: rgba(0,0,0,0.1);
    padding-left: 35%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
}

nav li {
    display:inline;
    font-size: 1.2em;
    font-family: 'Alfa Slab One', cursive;
}

nav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: grey;
}
    
#section2 {
    padding: 100px;
    overflow: hidden;
}

#about {
    width:45%;
    float: left;
    padding-left: 20px;
}

#aboutImage {
    width: 42%;
    padding-top: 45px;
    padding-left: 130px;
    float:left;
}

#section3 {
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../images/restaurant2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}

#section3 h1 {
    text-align: center;
    color:#e74c3c;
}

#section3 p {
    text-align: center;
    color: #fff;
}

#mailSection {
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../images/restaurant2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}

#mailSection h1 {
    text-align: center;
    color:#fff;
}

#mailSection p {
    text-align: center;
    color: #fff;
}

.formStyle { 
  align-content: center;
  padding: 20px; 
  width: 350px; 
  margin-left: 320px;
  margin-top: 80px;
  margin-bottom: 20px; 
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: #fff; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 0.8em;
  font-weight: 100;
  color: #fff;
  background-color: transparent;
}

#subscribe {
    float: right;
	background-color:#e74c3c;
	display:inline-block;
	color:#fff;
    border-style: none;
	font-size:14px;
	padding:6px 24px;
    margin-top: 105px;;
    margin-right: 400px;
	text-decoration:none;
}

footer {
    border: solid 1px blue;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

#column1 {
    float:left;
    padding-left: 10%;
    padding-top: 50px;
}

#column2 {
    float: left;
    padding-left: 15%;
    padding-top: 50px;
}

#column3 {
    float: right;
    padding-top: 70px;
    padding-right:10%;
    text-align: center;
}

#column3 p {
    padding-top: 10px;
}

#logo img {
    float: left;
    padding-left: 5%;
    height:140px;
    width:150px;
}

#reservation {
    background-color:#e74c3c;
	display:inline-block;
	color:#fff;
    border-style: none;
	font-size:14px;
	padding:6px 50px;
	text-decoration:none;
}

#food {
    padding: 50px;
    background-color: #000;
    color:#fff;
    text-align: center;
}

#drinks {
    padding: 50px;
    background-color: #fff;
    color:#000;
    text-align: center;
}

#socialMedia {
    padding-left: 41.5%;
    padding-top: 30px;
}

#socialMedia ul {
    list-style-type: none;
    overflow: hidden;
}

#socialMedia li {
    float:left;
}

#socialMedia li a {
    padding: 20px;
}

#infoSection {
    margin-top: 80px;
    margin-left: 40px;
}

#location {
    background-color: rgb(237, 238, 239);
    width: 400px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 20px;
    float: left;
}

#phoneNumber {
    background-color: rgb(237, 238, 239);
    width: 400px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 20px;
    float: left;
}

#emailAddress {
    background-color: rgb(237, 238, 239);
    width: 400px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: 20px;
    float: left;
}

#map {
    margin-top: 400px;
}

.form {
  width: 400px;
  margin:auto;
  background: white;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
  text-align: center;
}

.btn-primary {
  box-shadow: 0; 
  border: none; 
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}

.btn-primary:hover {
  background-color: rgb(237, 238, 239);
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

input, textarea {
  transition: all 800ms;
  font-family: "Roboto";
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  font-family:inherit; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}


.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #e74c3c;
}

.has-success input, .has-success textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-success .input-field-icon {
  color: rgb(237, 238, 239);
}


input:focus, textarea:focus {
  border-color: #e74c3c;
  color: #000;
}

input:focus + .input-field-icon {
  color: #000;
}

textarea.form-control {
  height: 120px;
  transition: .6s;
}

textarea.form-control:focus {
  height: 200px;
  border-color: #e74c3c;
}


@media (max-width: 600px) {
  .form {
    width: 90%;
    margin-top: 12%;
  }
}



